
* {
	box-sizing: border-box; 
}


html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
}


body{
	margin: 0;
	border: 15px solid #2B81AC;
	background-color: #3399CC;
	color: white;
	}

h1 {
	display: inline-block;
	font-family: “Lucida Sans Unicode”;
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.link {
	display: block;
	color: white;
	text-decoration: none;
}
.page {
	max-width: 900px;
	margin: auto;
}
span {
	opacity: 0.5;
}


.city {
	list-style: none;
    text-align: center;
	font-size: 0;
	border: 2px solid white;
	padding: 0;
}

li {
	display: inline-block;
	font-size: 23px;
	line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid white;
    font-family: “Lucida Grande”;
}
.city li a span {
	display: block;
	margin-top: 15px;
}

ul:hover {
	opacity: 1;
}
ul:hover li:not(:hover) {
  opacity: 0.5;
}

.lisbon {
	width: 50%;
}
.paris {
	width: 25%;
	background-color: #33CCCC;
}
.belgrade {
	width: 25%;
	background-color: #996699;
}
.moscow {
	width: 25%;
	background-color: #C24747;
}
.tel_aviv {
	width: 25%;
	background-color: #E2674A; 
}
.cair {
	width: 25%;
	background-color: #FFCC66;
}
.new_york {
	width: 25%;
	background-color: #99CC99;
}
.new_delhi {
	width: 25%;
	background-color: #669999;
}
.san_francisco {
	width: 50%;
	background-color: #CC6699;
}
.tokyo {
	width: 25%;
	background-color: #339966;
}
.sydney {
	width: 100%;
	background-color: #666699;
}

 p {
    display: inline-block;
	font-family: sans-serif;
	font-size: 15px;
	padding-top: 10px;
 }