*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    width: 100%;
    height: 100%;
}

.conteiner {
	width: 800px;
	height: 800px;
	margin: auto;
	outline: 2px solid black;
    
&

div {
	float: left;
	min-width: 100px;
	min-height: 100px;
}
}
.black {
	background-color: black;
}
.white {
	background-color: white;
}