* {
	box-sizing: border-box;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: sans-serif;
}
body {
	background-color: #F1F1F1;
	margin: auto;
	width: 70%;
	}

a {
	display: block;
}
ul > li	{
display: inline-block;
}
p {
	font-family: Arial;
	font-size: 20px;
	margin-top: 20px;
}
.content {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.main_search {
	background-color: #F1F1F1;
	padding-top: 40px;
	
}
.button {
    display: inline-block;
    /*background-color: #F1F1F1;*/
    height: 100px;
    width: 100px;

}
.main_search {
	border: none;
    display: inline-block;
    height: 150px;

}
