*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    overflow-x: hidden; 

    width: 100%;
}

.container
{
    max-width: 804px;
    min-height: 804px;
    margin: auto;

    border: 2px solid black;
}
.container div
{
    float: left;

    min-width: 100px;
    min-height: 100px;
}

.black
{
    background-color: black;
}

.white
{
    background-color: white;
}
