* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

html, body {
    height: 100%; }

header{
	color: rgb(235, 126, 127);
	background-color: rgb(74, 79, 86);
	text-align: center;
    padding: 20px 0;
    margin-bottom: 15px;
  }
 form {
    max-width: 50%;
    margin: auto; }
 div {
    background-color: #3B3F45;
    border: 20px solid white;
    min-height: 100%; }

 
li{
	max-width: 100%;
    margin: auto;
	list-style: none;
	line-height: 55px;
	background: rgb(136, 131, 158);
	font-family: sans-serif;
	font-size: 20px;
	vertical-align: middle;
	border: 2px solid transparent;
	border-left: none;
    border-right: none;
}


li:hover {
	border-color: white;
	
}
li:nth-child(odd) label {
background-color: #88839e; }

p {
	display: inline-block;
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 10px;
   }

body {
	font-size: 100%;
	color: white; 
}

ul{
	margin-top: 35px;
 }

input[type="checkbox"]:checked ~ *  {
    text-decoration: line-through;
    color: #a3a0b5;
}
.list_label {
	min-height: 50px;
	padding-left: 15px; 
	display: block;
	cursor: pointer;
	background-color: #7a7593;
	
}

label:active {
background-color: #eb7e7f !important;
}
 
i {
	font-style: normal;
	font-size: 12px;
}
.end {
min-height: 50px;
width: 100%;
margin: auto;
color: #eb7e7f;
font-weight: bold;
margin-top: 30px;
font-size: 25px;
background-color: #4A4F56;
border: none;
cursor: pointer; 
}


