
header{
	color: rgb(235, 126, 127);
	background-color: rgb(74, 79, 86);
	text-align: center;

}

p {
	font-size: 20px;
	margin-bottom: 10px;
}

body {
	font-size: 100%;
	background-color: black;
	color: white; 
}
table{
	border-collapse: collapse;
	height: 300px;
	width: 600px;
	background: rgb(136, 131, 158);
	margin-left: 380px;
    margin-top: 30px;
    font-size: 25px;
}
.border {
  border: 3px solid white;
  border-top-color: 3px solid white;
  background: rgb(98, 94, 119);
}
i {
	font-style: normal;
	font-size: 15px;
}
.end{
	color: rgb(235, 126, 127);
	background-color: rgb(74, 79, 86);
	text-align: center;
	font-size: 25px;
	height: 70px;
	width: 600px;
	margin-left: 380px;
    margin-top: 50px;
}
.color{
	background-color: rgb(122, 117, 147);
	text-decoration: line-through;
}
